@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
  margin: auto;
  border-bottom: #FBF8E8 1px solid !important;
}

.billboard-container{
  height: 300px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.test-1{
  background: red
}

.test-2{
  background: blue
}
