@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
  margin: auto;
  border-bottom: #FBF8E8 1px solid !important;
}

.btn{
  width: 100px;
}

.btn-secondary{
  border: 1px solid gray;
}

.billboard-container{
  height: 300px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.voting-container{
  border-right: 1px solid gray;
  height: 300px;
  padding-left: 70px;
  padding-top: 70px;
}

.score {
  padding-left: 35px;
}

.cta-btn{
  width: 200px;
}
