h2 Billboards#Index

- @billboards.each do |billboard|
  = render partial: 'edit', locals: { billboard: billboard }

javascript:

  function callServer(event, billboardId, direction) {
    $.ajax({
      url: "/billboards/" + billboardId,
      type: "PUT",
      data: {"direction": direction},
      success: function (data) {
        $(".ajax-alert").html('<p>Your vote has been successfully casted.</p>')
        $(".ajax-alert").removeClass("hidden")

        let targetParent = $(event.target.parentElement)
        let upButton     = targetParent.find(".vote-up")
        let downButton   = targetParent.find(".vote-down")

        if(direction == "up"){
          upButton.addClass("btn-primary")
          downButton.removeClass("btn-primary")
        }else{
          upButton.removeClass("btn-primary")
          downButton.addClass("btn-primary")
        }

        // TODO: Update score from data
      }
    });
  }

  $('.vote-up').click(function (event) {
    let billboardId = $(event.target.parentElement).data('billboard-id')
    callServer(event, billboardId, "up")

    event.preventDefault()
  });

  $('.vote-down').click(function (event) {
    let billboardId = $(event.target.parentElement).data('billboard-id')
    callServer(event, billboardId, "down")

    event.preventDefault()
  });
