h2 Billboards#Index

- @billboards.each do |billboard|
  = render partial: 'edit', locals: { billboard: billboard }

javascript:

  function callServer(billboardId, direction) {
    $.ajax({
      url: "/billboards/" + billboardId,
      type: "PUT",
      data: {"direction": direction},
      success: function (data) {
        console.log("SUCCESS!")

        // TODO: After voting, the user should see a success message.
      }
    });
  }

  $('.vote-up').click(function (event) {
    let billboardId = $(event.target.parentElement).data('billboard-id')
    callServer(billboardId, "up")

    event.preventDefault()
  });

  $('.vote-down').click(function (event) {
    let billboardId = $(event.target.parentElement).data('billboard-id')
    callServer(billboardId, "down")

    event.preventDefault()
  });
