h2 Let us know what you think about these billboards:

- @billboards.each do |billboard|
  = render partial: 'edit', locals: { billboard: billboard }

javascript:

  function callServer(event, direction) {
    let billboardId = $(event.target).parents('.billboard-container').data('billboard-id')

    $.ajax({
      url: "/billboards/" + billboardId,
      type: "PUT",
      data: {"direction": direction},
      success: function (data) {
        $(".ajax-alert").html('<p>Your vote has been successfully casted.</p>')
        $(".ajax-alert").removeClass("hidden")

        let targetParent = $(event.target.parentElement)
        let upButton     = targetParent.find(".vote-up")
        let downButton   = targetParent.find(".vote-down")

        if(direction == "up"){
          upButton.addClass("btn-primary")
          downButton.removeClass("btn-primary")
        }else{
          upButton.removeClass("btn-primary")
          downButton.addClass("btn-primary")
        }
        $(event.target).parents('.billboard-container').find('.score').html(data.score)
      }
    });
  }

  $('.vote-up').click(function (event) {
    callServer(event, "up")
    event.preventDefault()
  });

  $('.vote-down').click(function (event) {
    callServer(event, "down")
    event.preventDefault()
  });
